{% include 'productnavbar.html' %}
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Price Comparison</title>
    <!-- Add your CSS link here -->
    <link rel="stylesheet" href="{% static 'css/price_comparison.css' %}">
</head>

<body>
    {% block content %}
    <div class="container mt-4">
        <h2>Price Comparison</h2>

        <form id="compareForm" action="{% url 'price_comparison' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="numProducts">Number of Products to Compare:</label>
                <input type="number" id="numProducts" class="form-control" name="num_products" min="2" max="4" value="{{ num_products_to_compare }}">
            </div>

            <div id="productSelects">
                {% for i in num_products_to_range %}
                <div class="form-group">
                    <label for="selectedProduct{{ i }}">Select Product {{ i }}:</label>
                    <select id="selectedProduct{{ i }}" class="form-select" name="selected_products_{{ i }}">
                        {% for product_name in product_names %}
                        <option value="{{ product_name }}">{{ product_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                {% endfor %}
            </div>

            <button type="submit">Compare Selected Products</button>
        </form>
    </div>

    <script>
        document.getElementById('numProducts').addEventListener('change', function() {
            var numProducts = this.value;
            var productSelects = document.getElementById('productSelects');
            productSelects.innerHTML = '';

            for (var i = 1; i <= numProducts; i++) {
                var selectHtml = '<div class="form-group">' +
                    '<label for="selectedProduct' + i + '">Select Product ' + i + ':</label>' +
                    '<select id="selectedProduct' + i + '" class="form-select" name="selected_products_' + i + '">';

                {% for product_name in product_names %}
                selectHtml += '<option value="{{ product_name }}">{{ product_name }}</option>';
                {% endfor %}

                selectHtml += '</select></div>';
                productSelects.innerHTML += selectHtml;
            }
        });
    </script>
    {% endblock %}
</body>

</html>
