<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Navbar</title>
    <link rel="stylesheet" type="text/css" href="/static/css/productsnavbar.css">
</head>
<body><!-- productnavbar.html -->
<div class="left-section">
    <a href="/dashboard/" data-button-text="Home"><img src="/static/images/Home.svg" alt="Home"></a>
    <a href="/products/" data-button-text="Products"><img src="/static/images/Products.svg" alt="Products"></a>
    <a href="/categories/" data-button-text="Categories"><img src="/static/images/Categories.svg" alt="Categories"></a>
    <a href="#" data-button-text="Prices"><img src="/static/images/Prices.svg" alt="PriceComparsion"></a>
    <a href="#" data-button-text="Cart"><img src="/static/images/Cart.svg" alt="Cart"></a>

    <!-- User Profile Section -->
    <div class="user-profile-section" data-button-text="User Profile">
        <img src="/static/images/user.svg" alt="User Profile" onclick="showUserProfilePopup()">
    </div>

    <!-- User Profile Popup -->
    <div id="userProfilePopup" class="user-profile-popup"></div>
</div>
</body>

