{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}E-commerce System{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/productsnavbar.css' %}">
</head>
<body>
    <div class="container-fluid">
        <!-- Left Section (3 parts shaded) -->
        <div class="left-section">
            <a href="{% url 'dashboard' %}" data-button-text="Home"><img src="{% static 'images/Home.svg' %}" alt="Home"></a>
            <a href="{% url 'products' %}" data-button-text="Products"><img src="{% static 'images/Products.svg' %}" alt="Products"></a>
            <a href="{% url 'categories' %}" data-button-text="Categories"><img src="{% static 'images/Categories.svg' %}" alt="Categories"></a>
            <a href="#" data-button-text="Prices"><img src="{% static 'images/Prices.svg' %}" alt="PriceComparsion"></a>
            <a href="#" data-button-text="Cart"><img src="{% static 'images/Cart.svg' %}" alt="Cart"></a>

            <!-- User Profile Section -->
            <div class="user-profile-section" data-button-text="User Profile">
                <img src="{% static 'images/user.svg' %}" alt="User Profile" onclick="showUserProfilePopup()">
<!--                <button class="btn btn-danger logout-btn">Logout</button>-->
            </div>

            <!-- User Profile Popup -->
            <div id="userProfilePopup" class="user-profile-popup">
                
            </div>
        </div>

        <!-- Right Section (5 parts white) -->
        <div class="right-section">
            <!-- Content for the right section goes here -->
        </div>
    </div>

    <script>
        function showUserProfilePopup() {
            var popup = document.getElementById("userProfilePopup");
            popup.style.display = "block";
        }

        window.onclick = function(event) {
            var popup = document.getElementById("userProfilePopup");
            if (event.target !== popup && !event.target.closest('.user-profile-section')) {
                popup.style.display = "none";
            }
        }
    </script>
</body>
</html>
